<section class="optionsContainer">

    <section class="container1">
    <section class="grocery option">
        <section>
            <img loading="lazy" class="imagesOption" alt="Grocery" src="https://rukminim2.flixcart.com/flap/128/128/image/29327f40e9c4d26b.png?q=100">
            <section>
                <a class="Grocery-link"> Grocery</a>
            </section>
        </section>
    </section>

    <section class="Mobiles option">
        <section>
            <img loading="lazy" class="imagesOption" alt="Mobiles" src="https://rukminim2.flixcart.com/flap/128/128/image/22fddf3c7da4c4f4.png?q=100">
            <section>
            <a class="Grocery-link"> Mobiles </a>
        </section>
        </section>
    </section>

    <section class="Fashion option">
        <section>
            <img loading="lazy" class="imagesOption" alt="Fashion" src="https://rukminim2.flixcart.com/fk-p-flap/128/128/image/0d75b34f7d8fbcb3.png?q=100">
            <section>
            <a class="Grocery-link"> Fashion</a>
        </section>
        </section>
    </section>    

    <section class="Electronics option">
        <section>
            <img loading="lazy" class="imagesOption" alt="Electronics" src="https://rukminim2.flixcart.com/flap/128/128/image/69c6589653afdb9a.png?q=100">
            <section>
            <a class="Grocery-link"> Electronics</a>
        </section>
        </section>
    </section>

    <section class="Home-Furniture option">
        <section>
            <img loading="lazy" class="imagesOption" alt="Home &amp; Furniture" src="https://rukminim2.flixcart.com/flap/128/128/image/ab7e2b022a4587dd.jpg?q=100">
            <section>
            <a class="Grocery-link"> Home-Furniture</a>
        </section>
        </section>
    </section>

    <section class="Appliances option">
        <section>
            <img loading="lazy" class="imagesOption" alt="Grocery" src="https://rukminim2.flixcart.com/flap/128/128/image/29327f40e9c4d26b.png?q=100">
            <section>
            <a class="Grocery-link"> Appliances</a>
        </section>
        </section>
    </section>

    <section class="Travel option">
        <section>
            <img loading="lazy" class="imagesOption" alt="Travel" src="https://rukminim2.flixcart.com/flap/128/128/image/71050627a56b4693.png?q=100">
            <section>
            <a class="Grocery-link"> Travel</a>
        </section>
        </section>
    </section>

    <section class="Beauty_more option">
        <section>
            <img loading="lazy" class="imagesOption" alt="Beauty, Toys &amp; More" src="https://rukminim2.flixcart.com/flap/128/128/image/dff3f7adcf3a90c6.png?q=100">
            <section>
            <a class="Grocery-link"> Beauty, Toys & More</a>
        </section>
        </section>
    </section>

    <section class="Two Wheelers option">
        <section>
            <img loading="lazy" class="imagesOption" alt="Two Wheelers" src="https://rukminim2.flixcart.com/fk-p-flap/128/128/image/05d708653beff580.png?q=100">
            <section>
            <a class="Grocery-link">Two wheelers</a>
        </section>
        </section>
    </section>
</section>


</section>

